.card{
    float: left;
    margin: 10px;
    margin-left: 17px;
}
h1 {
    text-align: center;
    color: yellow;
    margin-top: -110px;
}
hr {
    color: yellow;
    
}
.six {
    position: relative;
    top: 429px;
    left: -628px;

}
.seven {
    position: relative;
    top: -305px;
}
.eight {
    position: relative;
    top: -303px;
}
.wrapper {
    margin: 164px;
}